@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Righteous&display=swap');
@font-face {
    font-family: 'KoolBean';
    src: url('../css/KoolBean.ttf');
}
*{
    box-sizing: border-box;
}

body{
    background-image: url('../images/mick-fanning.png');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position-x: center;
    background-color: rgb(43, 140, 170);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 2px;
    padding: 0 2rem 0 2rem;
    background-color: #FFF !important;
    position: fixed;
    width: 100%;
    z-index: 10;
}


.navbar #navbar-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'KoolBean';
    color: rgb(43, 140, 170);
    font-size: 4rem;
}

.navbar-link{
    padding: 0.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    color: grey;
    font-size: 1rem;
    padding-top: 35px;
    padding-bottom: 33px;
}

.navbar-link:hover{
    border-top: 4px solid rgb(43, 140, 170);
    text-decoration: none;
    color: rgb(43, 140, 170) !important;
}

.navbar-link:active{
    font-weight: bolder;
}
#user-logo-link{
    margin-left: 1rem;
}

#user-logo-link:hover{
    transform: scale(1.1);
}

@media (max-width: 991px){
    #user-logo-link{
        margin-bottom: 1rem;
    }
}


#main-cards-menu-container{
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: #FFF;
}

.main-cards{
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 27%;
    color: grey;
    border-radius: 0.5rem;
    text-decoration: none;
}


.main-cards:hover{
    transform: scale(1.01);
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.4);
}

.main-cards-logo-container{
    min-width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0.5rem;
}

.main-cards-logo-container img{
    min-width: 64px !important;
}

.main-cards-content-container{
    padding-left: 1rem;
    text-decoration: none;
}

.main-cards-content-container h2{
    font-size: 120%;
}

/* .main-cards-logo-container img{
    padding: 2rem;
} */

svg:not(#svg-rotate){
    margin-top: 32%;
} 

#svg-rotate{
    transform: rotate(180deg);
}

@media (max-width: 1588px){
    svg:not(#svg-rotate){
        margin-top: 34%;
    }
}


@media (max-width: 1340px){
    svg:not(#svg-rotate){
        margin-top: 41%;
    }
}

@media (max-width: 1110px){
    svg:not(#svg-rotate){
        margin-top: 50%;
    }
}


footer{
    height: 500px;
    background-color: rgb(43, 140, 170);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    z-index: 1;
}

#footer-logo-container{
    display: flex;
    align-items: center;
}

#footer-menu{
    display: flex;
    text-decoration: none;
    font-family: 'KoolBean';
    color: #FFF;
    font-size: 4rem;

}

#footer-mention{
    font-family: 'Open Sans';
    font-size: 125%;
    color: #FFF;
}

#windy-widget{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: grey;
}


#windy-widget h1{
    padding: 1rem;
}

iframe{
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
    border-radius: 0.5rem;
}

#webcam-menu-title{
    background-color: #FFF;
    justify-content: space-around;
    align-items: center;
    color: grey;
}

#webcam-menu-title img{
    margin-right: 1rem;
}

#mention-container{
    background-color: #FFF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#carouselExampleIndicators{
    background-color: #FFF;
}

.carousel-indicators{
    z-index: 10;
}

.carousel-indicators li{
    background-color: rgb(43, 140, 170); 
}

#cards-container{
    background-color: #FFF;
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
}

.webcams-cards-container{
    background-color: #FFF;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
}

.webcams-cards-image{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 300px;
    max-height: 300px;
}

.webcams-cards-content h3{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 100%;
    color: grey;
}

.webcams-cards-container:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.4);
}

.webcams-cards-modal-link:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
}

.modal-body{
    display: flex;
    justify-content: center;
}

#brutal-beach-webcam-link{
    width: 100%;
}

.flipswitch {
  position: relative;
  width: 102px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #14030C;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "CARDS";
  padding-left: 12px;
  background-color: #3D8799;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "MAP";
  padding-right: 12px;
  background-color: #EBEBEB;
  color: #888888;
  text-align: right;
}
.flipswitch-switch {
  width: 17px;
  height: 17px;
  margin: 4px;
  background: #FFFFFF;
  border: 1px solid #14030C;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

#main{
    padding: 0 !important;
}

#map-spots-container{
    justify-content: center;
    background: #FFF;
}
#mapSpots{
    z-index: 1;
    height: 750px;
    width: 96%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3D8799; 
    border-radius: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

  @media (max-width: 991px){
    #user-dropdown-menu{
        position: absolute;
    }
}

#user-drpodown-info-button:hover{
    transform: scale(1.05);
}

@-moz-document url-prefix(){
    #main-cards-menu-container{
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .main-cards{
        min-width: 200px;
        margin: 1rem;
    }

    @media (max-width: 490px){
        .navbar #navbar-menu{
            font-size: 200%;
            padding: 1rem;
        }
        .navbar #navbar-menu img{
            width: 32px;
            height: 32px;
            margin-right: 2px;
        }
        .main-cards{
            width: 90%;
        }
        #svg{
            visibility: hidden;
            position: absolute;
        }
        #mention-container{
            padding: 5px;
        }
        .card{
            margin-bottom: 1rem;
        }
        #svg-rotate{
            height: 150px;
        }
        #mapSpots{
            width: 90%;
            height: 300px;
        }
        #webcam-menu-title{
            padding-top: 100px;
            flex-direction: column;
        }
        
    }
}