@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Righteous&display=swap');
@font-face {
    font-family: 'KoolBean';
    src: url('../css/KoolBean.ttf');
}
*{
    box-sizing: border-box;
}

body{
    background-image: url('../images/mick-fanning.png');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position-x: center;
    background-color: rgb(43, 140, 170);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 2px;
    padding: 2rem;
    background-color: #FFF !important;
    position: fixed;
    width: 100%;
    z-index: 10;
}


.navbar #navbar-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'KoolBean';
    color: rgb(43, 140, 170);
    font-size: 4rem;
}

.navbar-link{
    padding: 0.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    color: grey;
    font-size: 1rem;
    
}

.navbar-link:hover{
    border-radius: 0.2rem;
    background-color: rgb(43, 140, 170);
    text-decoration: none;
    color: #FFF !important;
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
    
}

.navbar-link:active{
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

#main-cards-menu-container{
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: #FFF;
}

.main-cards{
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 27%;
    color: grey;
    border-radius: 0.5rem;
}


.main-cards:hover{
    transform: scale(1.01);
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.4);
}

.main-cards-logo-container{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0.5rem;
}

.main-cards-content-container{
    padding-left: 1rem;
}

.main-cards-content-container h2{
    font-size: 120%;
}

.main-cards-logo-container img{
    padding: 2rem;
}

svg:not(#svg-rotate){
    margin-top: 32%;
} 

#svg-rotate{
    transform: rotate(180deg);
}

@media (max-width: 1588px){
    svg:not(#svg-rotate){
        margin-top: 34%;
    }
}


@media (max-width: 1340px){
    svg:not(#svg-rotate){
        margin-top: 41%;
    }
}

@media (max-width: 1110px){
    svg:not(#svg-rotate){
        margin-top: 50%;
    }
}


footer{
    height: 500px;
    background-color: rgb(43, 140, 170);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    z-index: 1;
}

#footer-logo-container{
    display: flex;
    align-items: center;
}

#footer-menu{
    display: flex;
    text-decoration: none;
    font-family: 'KoolBean';
    color: #FFF;
    font-size: 4rem;

}

#footer-mention{
    font-family: 'Open Sans';
    font-size: 125%;
    color: #FFF;
}

#windy-widget{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: grey;
}


#windy-widget h1{
    padding: 1rem;
}

iframe{
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
    border-radius: 0.5rem;
}

#webcam-menu-title{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-family: 'Open Sans';
    font-weight: bold
}

#webcam-menu-title img{
    margin-right: 1rem;
}

#mention-container{
    background-color: #FFF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#carouselExampleIndicators{
    background-color: #FFF;
}

.carousel-indicators{
    z-index: 10;
}

.carousel-indicators li{
    background-color: rgb(43, 140, 170); 
}

.d-flex{
    justify-content: space-around;
    flex-wrap: wrap;
}

.webcams-cards-container{
    background-color: #FFF;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.2);
}

.webcams-cards-image{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 300px;
    max-height: 300px;
}

.webcams-cards-content h3{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 100%;
    color: grey;
}

.webcams-cards-container:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 2px 5px 0 rgba(74,74,74,.4);
}

.webcams-cards-modal-link:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
}

.modal-body{
    display: flex;
    justify-content: center;
}

#brutal-beach-webcam-link{
    width: 100%;
}