{% extends 'base.html.twig' %}

{% block body %}




<div id="main-cards-menu-container">

    <div class="main-cards">
        <div class="main-cards-logo-container">
            <img src="../../images/camera.png">
        </div>
        <div class="main-cards-content-container">
            <h2>WEBCAMS</h2>
            <p>Vous pourrez trouver ici toutes les webcams des spots de Méditérannée</p>
        </div>
    </div>

    <div class="main-cards">
        <div class="main-cards-logo-container">
            <img src="../../images/sea.png">
        </div>
        <div class="main-cards-content-container">
            <h2>PRÉVISIONS</h2>
            <p>Vous pourrez trouver ici toutes les webcams des spots de Méditérannée</p>
        </div>
    </div>

    <div class="main-cards">
        <div class="main-cards-logo-container">
            <img src="../../images/buoy.png">
        </div>
        <div class="main-cards-content-container">
            <h2>BOUÉES</h2>
            <p>Vous pourrez trouver ici toutes les webcams des spots de Méditérannée</p>
        </div>
    </div>
</div>

<div id="mention-container">

<div class="card mb-10"  style="max-width: 1024px; min-height: 320px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="./../images/giphy.gif" class="card-img" alt="..." height="100%" style="min-height: 320px;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-10 ml-auto" style="max-width: 1024px; min-height: 320px;">
  <div class="row no-gutters">
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="./../images/tatoo.jpg" class="card-img" alt="..." height="100%" style="max-width: 1024px; min-height: 320px;">
    </div>
  </div>
</div>

</div>
    {# <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="../../images/video-camera.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">WEBCAMS</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="../../images/sea-waves.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PREVISIONS</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="../../images/buoy.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">BOUEES</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div> #}
</div>
{% endblock %}