{% extends 'base.html.twig' %}

{% block body %}



<div id="windy-widget"><h1>Les Prévisions</h1><iframe width="800" height="500" src="https://embed.windy.com/embed2.html?lat=43.081&lon=5.751&zoom=9&level=surface&overlay=wind&menu=&message=&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=&detailLat=43.103&detailLon=5.761&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe></div>

{% endblock %}