<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="icon" href="/images/favicon.ico" />
    <title>Profil</title>
</head>
<body>


<form action="/Profil" method="post" class="w-25 mx-auto">
<div class="d-flex justify-content-around align-items-center" id="card-header"><img src="img/logo_wave.png" width="64px"><h2>EDITION DU COMPTE</h2></div>
<div class="p-3">
<div class="test">
          <div class="form-group">
            <label for="exampleInputEmail1">Nom d'utilisateur :</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter account" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email :</label>
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe :</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          </div>
    
          <div class="form-group">
            <label for="exampleInputPassword1">Répétez le mot de passe :</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwordRepeat">
          </div>
          <div class="d-flex justify-content-between align-items-center"><button type="submit" class="btn btn-success">Sauvegarder</button>
          <a href="/" style="color: #f8f9fa;">Retour au menu</a></div>

</div>
</div>
</form>
        
{% if error != NULL %}         
<div class="alert alert-danger w-25 m-auto">{{ error }}</div> 
{% elseif success == true %}      
 <div class="alert alert-success w-25 m-auto d-flex flex-column justify-content-center align-items-center" role="alert">{{success}}</div>   
 {% endif %}
</body>
<style>
@font-face {
    font-family: 'KoolBean';
    src: url('img/KoolBean.ttf');
}
body{
 background-color: rgb(43, 140, 170);
}
#card-header{
  font-family: 'KoolBean';
  margin-top: 33%;
  /* color: rgb(43, 140, 170); */
}
form{
  background-color: rgb(43, 140, 170);
  color: white;
  font-weight: bold;
  min-width: 360px;
}
</style>