{% extends 'base.html.twig' %}

{% block body %}

<div id="webcam-menu-title">
<img src="./../images/camera.png"><h1>Page des webcams</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

        <div class="d-flex">
        <a data-toggle="modal" data-target="#BrutalBeach" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>

<div class="modal fade" id="BrutalBeach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brutal Beach</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="brutal-beach-webcam-link" src="http://nexpa.ddns.net:8080/tmpfs/auto.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/porti.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Portissol</h3>
                    </div>
            </div>
        </a>
        </div>
    </div>

    <div class="carousel-item">
        <div class="d-flex">
        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>

        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>

        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>

        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>
        </div>
    </div>

    <div class="carousel-item">
        <div class="d-flex">
        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>

        <a href="/" class="webcams-cards-modal-link">
            <div class="webcams-cards-container">
                <img class="webcams-cards-image" src="./../images/brutal.jpg" alt="...">
                    <div class="webcams-cards-content">
                        <h3>Brutal Beach</h3>
                    </div>
            </div>
        </a>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}